.conteudoMain {
    width: 100%;
    height: 90vh;
    background-color: red;
}

#containerJogo {
    
    width: 100%;
    height: 100vh;
    background-color: white;
}

.tela {
    width: 100vw;
    height: auto;
    display: flex;
    gap: .5%;
}

.slot {
    width: 100px;
    height: 200px;
    border: solid 2px black;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    transition: transform 0.1s linear;
}