.conteudoMain {
    border: 0;
    background-color: #091520;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: .3vh solid #7DC5FC;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.382);
}
.conteudoSobre {
    width: 80%;
    min-height: 100vh;
    height: auto;
    padding: 6% 2%;
    font-family: "Elms Sans";
    color: #ccc;
    font-size: 3vh;
    border-left: 1vh solid #ccc;
    text-align: justify;
}

.conteudoSobre img {
    width: 60%;
    height: auto;
    align-self: center;
    outline: .3vh solid #ccc;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.382);
}

.minhaFoto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    text-align: end;
    font-size: 2vh;
}

.conteudoSobre span {
    font-family: "MAJOR MONO DISPLAY";
    word-spacing: -2vh;
    border-left: 2px white solid;
    font-size: 4vh;
}

.timelinePoint {
    width: 5vh;
    height: 5vh;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    margin-left: -5.6vh;
    margin-top: 6vh;
}

