body {
    width: 100vw;
    height: 100%;
    margin: 0;
    background-color: black;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #0E202F;
    z-index: -2;
    
}

input {
    font-family: 'Elms Sans';
}

/* NAVBAR START */

.navbar {
    height: 15vh;
    background-color: #091520;
    color: white;
    display: flex;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
}

.logo {
    font-family: 'Major Mono Display';
    font-size: 2.5vh;
    width: 20%;
    font-weight: bold;
    border-left: solid 2px #ccc;
    pointer-events: none;
}

.navbar li {
    flex: 1;
    list-style: none;
    padding-left: 4%;
}

.navbar a {
    display: inline-block;
    color: #cccccc;
    text-decoration: none;
    font-size: 3vh;
    margin: 0 6%;
    font-family: 'Elms Sans';
}

.navbar .inativo:hover {
    border-bottom: solid 2px white;
    color: #ffffff;
}

.navbar .ativo {
    color: #7DC5FC;
    border-bottom: 2px solid #7DC5FC;
    pointer-events: none;
}

.navbar .navRight {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
}

.navRight .loginButton {
    font-weight: bolder;
    margin-top: 10%;
    margin-left: 0;
    font-family: monospace;
    border-radius: 3vh;
    color: #7DC5FC;
    border: .3vh inset #7DC5FC;
    width: 100%;
    height: 50%;
    background-color: rgba(245, 222, 179, 0);
    transition: background-color 0.2s ease;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRight .loginButton:hover {
    background-color: #7DC5FC;
    color: white;
}

.navRight .registerButton {
    font-weight: bolder;
    font-family: monospace;
    color: #7DC5FC;
    border: none;
    background-color: rgba(245, 222, 179, 0);
    transition: color 0.2s ease;
    font-size: 1.5vh;
    cursor: pointer;
    text-align: center;
}

.navRight .registerButton:hover {
    color: #cccccc
}

.navRight .userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
    margin-left: 8vh;
    gap: 10%;
    height: 60%;
    width: 60%;
    border-radius: 1vh;
}

#userName {
    position: absolute;
    max-width: 100%;
    margin-top: .3%;
    margin-right: 13%;
    font-family: 'Elms Sans';
    font-size: 2vh;
    cursor: pointer;
}

.userIcon img {
    width: 80%;
    height: 100%;
    border: 2px solid greenyellow;
    border-radius: 1vh;
    z-index: 1;
}
#navRightUser {
    display: none;
}

.dropDownUser {
    margin-left: 80%;
    width: 20vw;
    height: 7vw;
    position: absolute;
    background-color: #091520;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 29;
    transition: margin-top 0.3s ease;
}

.dropDownUser .botaoDropdown {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Elms Sans';
    background-color: #0E202F;
    cursor: pointer;
    text-align: center;
    color: #ccc;
}

.botaoDropdown:hover {
    filter: brightness(1.3);
}

#perfilUser {
    margin-right: 10%;
    height: 50%;
    width: 120%;
}

/* NAVBAR END */

/* MAIN START */

.bannerPrincipal {
    width: 100%;
    height: 60vh;    
    background-image: url('https://images.squarespace-cdn.com/content/v1/54fc8146e4b02a22841f4df7/1635684226407-OF0F1FSI4WGTQQXU3OXO/Art_of_Josan_Gonzales+_19.jpeg?format=2500w');
    background-size: cover;
}

#sobre {
    background-image: url(../assets/imgs/sobre.webp);
    background-position: 0 -10vh;
}

#jogos {
    background-image: url(../assets/imgs/jogos.webp);
    background-position: 0 -15vh;
}

#creative {
    background-image: url(../assets/imgs/creative.webp);
    background-position: 0 -50vh;
}

.corpoMain {
    width: 60%;
    height: 100%;
    margin-top: 2%;
    align-self: center;
}

.bannerDois {
    width: 100%;
    height: 60vh;
    background-color: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.382);
    display: flex;
}

.conteudoBanner2 {
    font-size: 2vh;
    font-family: 'Elms sans';
    flex: 1;
    background-color: #091520;
    color: white;
    text-align: justify;
    padding: 2%;
    overflow-y: auto;
}

.conteudoBanner2 hr {
    border: solid .2px white;
    border-radius: 2vh;
}

.conteudoBanner2 h1{
    font-size: 3vh;
}

.bannerDois #imgBannerDois {
    background-image: url(./assets/imgs/discoelysium.webp);
    background-size: cover;
    background-position: center;
    width: 65%;
    height: 100%;
    box-shadow: inset 0px 0px 50px 20px #091520e0;
    transition: background-image 0.5s ease;
}

.conteudoMain {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

/* FOOTER START */

.footer {
    height: 15vh;
    background-color: #091520;
    color: white;
    display: flex;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Elms Sans';
}

.footer li {
    flex: 1;
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: #ccc
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #091520e9;
  color: #7DC5FC;
  width: 20vw;
  position: absolute;
  border: solid 2px #7DC5FC;
  margin-top: 16.5%;
  border-radius: 1vh;
  padding: 10px;
  margin-right: 10%;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.19);
  font-family: 'Elms Sans';
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 3vh;
}

.loading-div {
    width: 3vw;
    height: 6vh;
    margin: 0;
    position: absolute;
    margin-left: 16vw;
    margin-top: 53vh;
    display: none;
}

.loading-div img{
    width: 100%;
    height: 100%;
}